{{ if ne .chezmoi.os "windows" -}}
#!{{ lookPath "sh" }}
if [ "$EUID" -ne 0 ]
then
    exec sudo -s "$0" "$@"
fi

cat <<'EOF' > {{ if eq .chezmoi.os "linux" }}/root/.zshrc{{ else }}$home/.suroot/.zshrc{{ end }}
# End of lines configured by zsh-newuser-install
eval "$(zoxide init zsh)"
{{ if eq .chezmoi.os "linux" -}}
eval "$(thefuck --alias)"
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
{{ else -}}
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-autosuggestions
zinit ice depth"1" # git clone depth
zinit light romkatv/powerlevel10k
{{ end -}}
export GPG_TTY=$(tty)
export EDITOR=vim
{{ template "env" . -}}
EOF
{{ end }}
sudo -k
