[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ .signingkey }}
{{- if eq .chezmoi.os "android"  }}
[gpg]
    program = okc-gpg
{{- end  }}
[commit]
	gpgsign = true
[diff]
	external = difft
        tool = difftastic
[diff "pandoc"]
    textconv=pandoc --to=markdown
    prompt = false
[difftool]
    prompt = false
[difftool "difftastic"]
	# See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
	cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[pager]
    difftool = true
[alias]
    # `git log` with patches shown with difftastic.
    dl = -c diff.external=difft log -p --ext-diff

    # Show the most recent commit with difftastic.
    ds = -c diff.external=difft show --ext-diff

    # `git diff` with difftastic.
    dft = -c diff.external=difft diff
[core]
	excludesfile = ~/.gitignore_global
    autocrlf = input
[init]
	defaultBranch = master
	templatedir = ~/.git_template
[advice]
	addIgnoredFile = false
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !{{ .helper }} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{ .helper }} auth git-credential
[credential]
	helper = manager
{{- if eq .chezmoi.os "linux"  }}
	credentialStore = secretservice
{{- end }}
